.signup {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.signup .overlap-wrapper {
  background-color: #ffffff;
  width: 1500px;
  height: 720px;
}

.signup .overlap {
  position: relative;
  height: 720px;
  background-image: url(./img/photo-1507525428034-b723cf961d3e-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.signup .frame {
  position: absolute;
  width: 1499px;
  height: 719px;
  top: 1px;
  left: 1px;
  background-color: #0000004c;
}

.signup .rectangle {
  position: absolute;
  width: 507px;
  height: 641px;
  top: 40px;
  left: 497px;
  background-color: #d9d9d94c;
  border-radius: 30px;
}

.signup .logo-no-background {
  position: absolute;
  width: 211px;
  height: 171px;
  top: 64px;
  left: 644px;
  object-fit: cover;
}

.signup .pass {
  position: absolute;
  width: 372px;
  height: 64px;
  top: 485px;
  left: 559px;
}

.signup .no {
  position: absolute;
  width: 372px;
  height: 64px;
  top: 406px;
  left: 559px;
}

.signup .name {
  position: absolute;
  width: 372px;
  height: 64px;
  top: 249px;
  left: 564px;
}

.signup .mail {
  position: absolute;
  width: 372px;
  height: 64px;
  top: 327px;
  left: 559px;
}

.signup .text-wrapper {
  position: absolute;
  top: 250px;
  left: 663px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #0000004c;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 44px;
  white-space: nowrap;
}

.signup .input {
  width: 262px;
  top: 490px;
  font-size: 28px;
  position: absolute;
  left: 663px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #0000004c;
  letter-spacing: 0;
  line-height: 44px;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}

.signup .user-name-logo {
  position: absolute;
  width: 42px;
  height: 44px;
  top: 259px;
  left: 586px;
  object-fit: cover;
}

.signup .img {
  position: absolute;
  width: 48px;
  height: 44px;
  top: 495px;
  left: 587px;
  object-fit: cover;
}

.signup .sign-up {
  position: absolute;
  width: 236px;
  height: 74px;
  top: 310px;
  left: -40px;
  border-radius: 10px;
}

.signup .overlap-group {
  position: absolute;
  width: 234px;
  height: 74px;
  opacity: 0.9;
  border-radius: 50px;
  border-radius: 100px;
}

.signup .rectangle-2 {
  position: absolute;
  width: 234px;
  height: 74px;
  top: 0;
  left: 0;
  mix-blend-mode: soft-light;
}

.signup .email {
  position: absolute;
  width: 53px;
  height: 52px;
  top: 333px;
  left: 581px;
}

.signup .phon {
  position: absolute;
  width: 47px;
  height: 44px;
  top: 417px;
  left: 587px;
}

/* Username */

.signup .text-wrapper-2 {
  position: absolute;
  width: 176px;
  top: 10px;
  left: 29px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 0;
  line-height: 44px;
}

.form-control {
  position: absolute;
  margin: 20px -20 0px;
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  color: #000000;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: rgb(0, 0, 0);
}

.form-control label {
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 20px;
  min-width: 1px;
  color: #000000;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: rgb(0, 0, 0);
  transform: translateY(-30px);
}

/* email */

.signup .password {
  position: absolute;
  top: 80px;
  font-size: 30px;
  left: 0px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #0000004c;
  letter-spacing: 0;
  line-height: 44px;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}

.form {
  position: absolute;
  margin: 20px -20 0px;
  width: 190px;
}

.form input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  color: #000000;
}

.form input:focus,
.form input:valid {
  outline: 0;
  border-bottom-color: rgb(0, 0, 0);
}

.form label {
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
}

.form label span {
  display: inline-block;
  font-size: 20px;
  min-width: 1px;
  color: #000000;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form input:focus+label span,
.form input:valid+label span {
  color: rgb(0, 0, 0);
  transform: translateY(-30px);
}

/* phone no */

.signup .div {
  top: 160px;
  font-size: 30px;
  position: absolute;
  left: 0px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #0000004c;
  letter-spacing: 0;
  line-height: 44px;
  white-space: nowrap;
}

.for {
  position: absolute;
  margin: 20px -20 0px;
  width: 190px;
}

.for input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  color: #000000;
}

.for input:focus,
.for input:valid {
  outline: 0;
  border-bottom-color: rgb(0, 0, 0);
}

.for label {
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
}

.for label span {
  display: inline-block;
  font-size: 20px;
  min-width: 1px;
  color: #000000;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.for input:focus+label span,
.for input:valid+label span {
  color: rgb(0, 0, 0);
  transform: translateY(-30px);
}

/* create password */

.signup .input {
  width: 262px;
  top: 240px;
  position: absolute;
  font-size: 28px;
  line-height: 50px;
  display: inline-block;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
  left: 0px;
  height: 0px;
}

.fo {
  position: absolute;
  margin: 20px -20 0px;
  width: 190px;
}

.fo input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  color: #000000;
}

.fo input:focus,
.fo input:valid {
  outline: 0;
  border-bottom-color: rgb(0, 0, 0);
}

.fo label {
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
}

.fo label span {
  display: inline-block;
  font-size: 20px;
  min-width: 1px;
  color: #000000;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.fo input:focus+label span,
.fo input:valid+label span {
  color: rgb(0, 0, 0);
  transform: translateY(-30px);
}