.intro {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.intro .overlap-group-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1500px;
  height: 720px;
}

.intro .overlap-group {
  position: relative;
  width: 1501px;
  height: 720px;
}

.intro .photo {
  position: absolute;
  width: 1500px;
  height: 720px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.intro .frame {
  position: absolute;
  width: 1500px;
  height: 719px;
  top: 1px;
  left: 1px;
  background-color: #0000004c;
}

.intro .logo-no-background {
  position: absolute;
  width: 911px;
  height: 595px;
  top: 62px;
  left: 294px;
  object-fit: cover;
}

.intro .play {
  position: absolute;
  width: 152px;
  height: 148px;
  top: 572px;
  left: 1348px;
}
